{
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:node/recommended-module"
  ],
  "plugins": ["promise", "import"],
  "rules": {
    "arrow-parens": "warn",
    "no-undef": "off",
    "global-require": "warn",
    "max-classes-per-file": "off",
    "import/extensions": "off",
    "import/no-self-import": "error",
    "import/no-cycle": "error",
    "import/no-unresolved": "warn",
    "import/no-deprecated": "warn",
    "import/no-mutable-exports": "warn",
    "import/prefer-default-export": "warn",
    "import/no-dynamic-require": "warn",
    "node/exports-style": ["error", "module.exports"],
    "node/prefer-global/buffer": ["error", "always"],
    "node/prefer-global/console": ["error", "always"],
    "node/prefer-global/process": ["error", "always"],
    "node/prefer-global/url-search-params": ["error", "always"],
    "node/prefer-global/url": ["error", "always"],
    "node/prefer-promises/dns": "error",
    "node/prefer-promises/fs": "error",
    "node/file-extension-in-import": "off",
    "node/no-missing-import": "warn",
    "promise/always-return": "warn",
    "promise/no-return-wrap": "error",
    "promise/param-names": "error",
    "promise/catch-or-return": "error",
    "promise/no-native": "warn",
    "promise/no-nesting": "warn",
    "promise/no-promise-in-callback": "warn",
    "promise/no-callback-in-promise": "warn",
    "promise/avoid-new": "warn",
    "promise/no-new-statics": "error",
    "promise/no-return-in-finally": "warn",
    "promise/valid-params": "warn"
  }
}
